.header {
  padding-top: .5em;
  height: fit-content;
  width: 90%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background-color: #f7ce00;
  background-image: url("https://www.transparenttextures.com/patterns/basketball.png");
}

.header h1 {
  text-align: center;
}